@charset "utf-8";
@media screen and (max-width: 500px){

}
@media screen and (min-width: 500px){

}
body{
    background: url("../img/login.jpg");
}

.row{
    margin: 30% 10% 20% 10%;
}
.row form{
    text-align: center;
    position: absolute;
}
/*
.row div{
    border: 1px solid #000000;
}*/
